<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>CryptoChat: Secure Online Messaging</title>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="app">
			<login-form v-if="uiState == 'login'"></login-form>

			<div class="chat-ui" v-if="uiState == 'chat'">
				<div class="chats">
					<chat-select v-for="chat in chats" :key="chat.chat_id"
						v-bind:chat="chat"
						v-bind:class="{selected: selectedChat == chat.chat_id}"
						v-on:click="console.log(chat.chat_id)"></chat-select>
				</div>

				<div v-if="!selectedChat">Select a chat to the left to begin.</div>

				<div class="messages" id="messageList">
					<message v-for="message in decryptedMessages" :key="message.timestamp"
						v-if="message.cht == selectedChat"
						v-bind:message="message"
						v-bind:class="{me: message.snd == currentUser.user_id}"></message>
				</div>

				<div class="compose" v-if="selectedChat">
					<textarea id="composeWindow" autocomplete="off"
						v-model="messageDrafts[selectedChat]"
						v-on:keydown.enter="sendMessage"></textarea>
					<button v-on:click="sendMessage">Send</button>
				</div>
			</div>
		</div>

		<script>
			if(location.hostname == "localhost" || location.hostname == "127.0.0.1") {
				document.write("<script src=\"http://localhost:8080/socket.io/socket.io.js\"\>\<\/script>");
			} else {
				document.write("<script src=\"http://penguinegg.com:8080/socket.io/socket.io.js\"\>\<\/script>");
			}
		</script>

		<script src="build.js"></script>
	</body>
</html>
